{{!-- devices page in use for Show All Devices, however the id route is not correct.--}}
<div class="container">
    <div class="cardContainer d-flex flex-row flex-wrap">
        {{#each devices as |device| }}
           <div class="card" style="width: 12rem">
                <img
                    src="/images/{{device.name}}.jpeg"
                    class="card-img-top"
                    alt="deviceImage"
                />
                <div class="card-body">
                    <h5 class="card-title"><a href="/device/{{device.id}}">{{device.name}}</a></h5>
                    <p class="card-text">Type: {{device.device_type}}</p>
                    <a href="/rentalAgreement/{{device.id}}" class="btn btn-primary rentBtn">Rent this</a>
                </div>
           </div>
        {{/each}}
    </div>
</div>